project_final/node_modules/
project_final/dist/
project_final/.env
project_final/*.log
project_final/*.db
project_final/*.db-journal
project_final/package-lock.json

server/node_modules/
server/dist/
server/.env
server/prisma/*.db
server/prisma/*.db-journal
server/*.log
server/uploads/
server/package-lock.json

node_modules/
dist/
.env
*.db
*.db-journal
*.log
*.txt
uploads/
package-lock.json

.claude
.claude/settings.local.json